image:
  repository: postgres
  tag: 16.3-alpine
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5432

auth:
  postgresPasswordLength: 32
  appDatabase: portfolio
  appUsername: app_user
  appPasswordLength: 32

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  size: 20Gi

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 2Gi

podAnnotations: {}

nodeSelector: {}

tolerations: []

affinity: {}

