apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: default
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 8085
    targetPort: 8085
    name: http
    protocol: TCP
  selector:
    app: auth-service

