image:
  repository: rabbitmq
  tag: 3.13.5-management
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  amqpPort: 5672
  managementPort: 15672
  managementEnabled: true

auth:
  username: portfolio-user
  passwordLength: 24
  erlangCookieLength: 32

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  size: 10Gi

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 2Gi

podAnnotations: {}

nodeSelector: {}

tolerations: []

affinity: {}

extraEnv: []

