apiVersion: v1
kind: Service
metadata:
  name: dotnet-service
  namespace: default
  labels:
    app: dotnet-service
spec:
  type: ClusterIP
  ports:
  - port: 8084
    targetPort: 8084
    protocol: TCP
    name: http
  selector:
    app: dotnet-service

