apiVersion: v1
kind: Service
metadata:
  name: python-service
  namespace: default
  labels:
    app: python-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: python-service

