apiVersion: v1
kind: Service
metadata:
  name: cpp-service
  namespace: default
  labels:
    app: cpp-service
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
  selector:
    app: cpp-service

